%h2 Reinvio istruzioni di attivazione
= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true
  .actions
    = f.button :submit, "Inviami le istruzioni"
= render :partial => "devise/shared/links"
