%h2
  Modifica Utente
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  = f.error_notification
  .inputs
    = f.input :password, :autocomplete => "off", :hint => "lasciare in bianco se non si desidera cambiare", :required => false
    = f.input :password_confirmation, :required => false
    = f.input :current_password, :hint => "inserire la password corrente per confermare i cambiamenti", :required => true
  .actions
    = f.button :submit, "Salva"
%h3 Cancellazione account
%p
  Non ti piace Carogoverno.it? #{link_to "Cancella il tuo account", registration_path(resource_name), :confirm => "Sei certo di voler cancellare il tuo account?", :method => :delete}.
= link_to "Indietro", :back

%p= I18n.locale
