.offset2.span8
  .row.well
    .offset1.span6
      %fieldset
        %legend Password Dimenticata?
        = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
          = f.error_notification
          .inputs
            = f.input :email, :required => true
          .actions
            = f.button :submit, "Recupera password", :class => "btn-primary"
        = render :partial => "devise/shared/links"
