%section.top3
  .page-header
    %h1
      Top 3
      %small
        altro testo qui
    .row
      - @top_posts.each do |p|
        .span4
          .well
            %h3.gravatar
              %img{src: p.user.gravatar_path, title: p.user.name}
              = p.user.name
            %p
              = p.body
            = render :partial => "shared/postbuttons", :object => p
%section.container.lastposts.well
  .page-header
    %h1
      Ultimi Post
      %small
        altro testo qui
  .row
    - @top_posts.each do |p|
      .span3
        %h3.gravatar
          %img{src: p.user.gravatar_path, title: p.user.name}
          = p.user.name
        %p
          = p.body
        = render :partial => "shared/postbuttons", :object => p
